{% extends 'ReastApi/Base/Base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Reza Mahvashi">
    <meta name="keywords" content="programming,blog,services,project">
    <meta name="description" content="personal blog page">
    <title>
        STP
    </title>
    <link href="https://cdn.jsdelivr.net/npm/@uvarov.frontend/vanilla-calendar/build/vanilla-calendar.min.css"rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@uvarov.frontend/vanilla-calendar/build/themes/light.min.css"rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@uvarov.frontend/vanilla-calendar/build/themes/dark.min.css"rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    
    <link rel="stylesheet" href="{% static 'ReastApi/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'ReastApi/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'ReastApi/css/simple-lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'ReastApi/css/simple-lightbox.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <header id="navbar" class="position-relative">
        <nav id="page-navbar" class="navbar bg-white navbar-expand-md position-fixed w-100 py-4 top-0">
            <section class="container">
                <a href="#" class="navbar-brand">
                    <img src=" {% static 'ReastApi/images/owp-designer-logo.webp' %}" alt="logo" class="img-fluid">
                </a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
                    <i class="navbar-toggler-icon"></i>
                </button>
                <section class="collapse navbar-collapse align-items-center mt-md-0 mt-3" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li class="nav-item fw-bold fs-6 me-md-3 ms-1">
                            <a href="#" class="nav-link text-dark">خانه</a>
                        </li>
                        <li class="nav-item fw-bold fs-6 me-md-3 ms-1">
                            <a href="#" class="nav-link text-dark">درباره</a>
                        </li>
                        <li class="nav-item fw-bold fs-6 me-md-3 ms-1">
                            <a href="#services" class="nav-link text-dark">خدمات</a>
                        </li>
                        <li class="nav-item fw-bold fs-6 me-md-3 ms-1">
                            <a href="#" class="nav-link text-dark">پروژه</a>
                        </li>
                        <li class="nav-item fw-bold fs-6 me-md-3 ms-1">
                            <a href="#" class="nav-link text-dark">وبلاگ</a>
                        </li>
                        <li class="nav-item d-md-none d-md-inline-block">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-dark ms-3">ورود</button>
                                <button class="btn btn-outline-dark">ثبت نام</button>
                            </div>
                        </li>
                    </ul>
                </section>
                <div class="d-md-flex d-none justify-content-end">
                    <button class="btn btn-dark ms-3"><a href="#" id="signin-a">ورود</a></button>
                    <button class="btn btn-outline-dark">
                        <a href="#" id="signup-a">ثبت نام</a>
                    </button>
                </div>
            </section>
        </nav>
    </header>
    <article class="container">
        <section id="home">
            <section id="first-card" class="mt-md-0 mt-5">
                <div class="card mt-md-0 mt-5 border-0">
                    <div class="row align-items-center mt-md-0 mt-5">
                        <div class="col-md-6 first-card-animate order-md-1 order-2">
                            <div class="card-body">
                                <div class="texts">
                                    <h4 class="card-title fw-bold">تست 1</h4>
                                    <h6 class="card-subtitle text-muted blockquote-footer mt-3">ابوالفضل عابدینی</h6>
                                    <p class="card-text mt-3">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی می باشد
                                    </p>
                                </div>
                                <div class="btns d-flex mt-3">
                                    <button class="btn btn-outline-dark ms-3">خدمات</button>
                                    <button class="btn btn-dark">ارتباط</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 order-md-2 order-1">
                            <img src=" {% static 'ReastApi/images/isometric-computer.avif' %}" alt="info"
                                class="card-img first-card-img">
                        </div>
                    </div>
                </div>
            </section>
            <section class="mt-5 mb-5" id="ability">
                <div class="row">
                    <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                        <div class="card border-0 rounded-4 shadow">
                            <div class="card-body ">
                                <div class="icon-ability">
                                    <img src=" {% static 'ReastApi/images/perspective_matte-77-264x264.png' %}" alt="clock"
                                        class="img-fluid power-img">
                                </div>
                                <div class="texts">
                                    <p class="h5 fw-bold mt-3">تست 1</p>
                                    <p class="card-text mt-3">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-md-0 mt-3" data-aos="fade-up" data-aos-duration="3000">
                        <div class="card border-0 rounded-4 shadow">
                            <div class="card-body">
                                <div class="icon-ability">
                                    <img src=" {% static 'ReastApi/images/perspective_matte-72-264x264.png' %}" alt="clock"
                                        class="img-fluid power-img">
                                </div>
                                <div class="texts">
                                    <p class="h5 fw-bold mt-3">تست 2</p>
                                    <p class="card-text mt-3">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-md-0 mt-3" data-aos="fade-up" data-aos-duration="3000">
                        <div class="card border-0 rounded-4 shadow">
                            <div class="card-body">
                                <div class="icon-ability">
                                    <img src=" {% static 'ReastApi/images/perspective_matte-64-264x264.png' %}" alt="clock"
                                        class="img-fluid power-img">
                                </div>
                                <div class="texts">
                                    <p class="h5 fw-bold mt-3">تست 3</p>
                                    <p class="card-text mt-3">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="mb-5" id="seccond-card">
                <div class="card border-0">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="card-video">
                                <video class="card-img img-fluid" autoplay muted loop preload="auto">
                                    <source src=" {% static 'ReastApi/images/animate-robot.webm' %} " type="video/webm">
                                </video>
                            </div>
                        </div>
                        <div class="col-md-6" data-aos="fade-up" data-aos-duration="3000">
                            <div class="card-body">
                                <div class="text">
                                    <div class="texts">
                                        <h4 class="card-title fw-bold">
                                            عنوان <span class="text-primary fs-3">تست</span> 2.
                                        </h4>
                                        <p class="card-text mt-3">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان
                                            گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                            است و
                                            برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                            کاربردی می باشد
                                        </p>
                                    </div>
                                    <div class="btns d-flex mt-3">
                                        <button class="btn btn-dark ms-3">اطلاعات بیشتر</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="mb-5" id="banner">
                <div class="row banner-row justify-content-center align-items-center">
                    <div class="col-md-7">
                        <div class="carousel slide" data-bs-ride="caousel" id="page-carousel">
                            <div class="carousel-inner px-5">
                                <div class="carousel-item active">
                                    <div class="row justify-content-center text-center">
                                        <div class="col-md-9">
                                            <div class="card border-0">
                                                <div class="card-body text-center">
                                                    <p class="card-text fs-5 fw-bold">
                                                        <q>
                                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                            با استفاده از طراحان
                                                            گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                            سطرآنچنان که لازم است و
                                                            برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف
                                                            بهبود ابزارهای
                                                            کاربردی می باشد
                                                        </q>
                                                    </p>
                                                    <p class="card-text blockquote-footer text-white mt-3">
                                                        ابوالفضل عابدینی
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row justify-content-center text-center">
                                        <div class="col-md-9">
                                            <div class="card border-0">
                                                <div class="card-body text-center">
                                                    <p class="card-text fs-5 fw-bold">
                                                        <q>
                                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                            با استفاده از طراحان
                                                            گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                            سطرآنچنان که لازم است و
                                                            برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف
                                                            بهبود ابزارهای
                                                            کاربردی می باشد
                                                        </q>
                                                    </p>
                                                    <p class="card-text blockquote-footer text-white mt-3">
                                                        ابوالفضل عابدینی
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row justify-content-center text-center">
                                        <div class="col-md-9">
                                            <div class="card border-0">
                                                <div class="card-body text-center">
                                                    <p class="card-text fs-5 fw-bold">
                                                        <q>
                                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                            با استفاده از طراحان
                                                            گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                            سطرآنچنان که لازم است و
                                                            برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف
                                                            بهبود ابزارهای
                                                            کاربردی می باشد
                                                        </q>
                                                    </p>
                                                    <p class="card-text blockquote-footer text-white mt-3">
                                                        ابوالفضل عابدینی
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-next">
                                <i class="carousel-control-next-icon" data-bs-target="#page-carousel"
                                    data-bs-slide="next"></i>
                            </button>
                            <button class="carousel-control-prev ">
                                <i class="carousel-control-prev-icon" data-bs-target="#page-carousel"
                                    data-bs-slide="prev"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <section class="mb-5 mt-5" id="projects">
                <div class="row justify-content-center align-items-center text-center">
                    <div class="col-12">
                        <div class="title">
                            <p class="h3 fw-bold" data-aos="fade-up" data-aos-duration="1000">عنوان <span
                                    class="text-primary fs-2">تست</span>. </p>
                            <p class="mt-4 mb-5 fs-5" data-aos="fade-up" data-aos-duration="2000">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                            </p>
                        </div>
                        <div class="items mb-3">
                            <div class="row gallery" data-aos="fade-up" data-aos-duration="2000">
                                <div class="col-md-3 col-6">
                                    <a href=" {% static 'ReastApi/images/owp-freelance-img-008.jpg' %} ">
                                        <div style="background-image:  {% static 'ReastApi/images/owp-freelance-img-008.jpg' %} ;"
                                            class="img-fluid project-img w-100">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 col-6">
                                    <a href=" {% static 'ReastApi/images/owp-freelance-img-009.jpg' %}">
                                        <div style="background-image: {% static 'ReastApi/images/owp-freelance-img-009.jpg' %} ;"
                                            class="img-fluid project-img w-100">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 col-6 mt-md-0 mt-4">
                                    <a href="{% static 'ReastApi/images/owp-freelance-img-010.jpg' %}">
                                        <div style="background-image: {% static 'ReastApi/images/owp-freelance-img-010.jpg' %};"
                                            class="img-fluid project-img w-100">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 col-6 mt-md-0 mt-4">
                                    <a href="{% static 'ReastApi/images/owp-freelance-img-015.jpg' %}">
                                        <div style="background-image: {% static 'ReastApi/images/owp-freelance-img-015.jpg' %} ;"
                                            class="img-fluid project-img w-100">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row mt-4 gallery" data-aos="fade-up" data-aos-duration="3000">
                                <div class="col-md-3 col-6">
                                    <a href=" {% static 'ReastApi/images/owp-freelance-img-011.jpg' %}">
                                        <div style="background-image: {% static 'ReastApi/images/owp-freelance-img-011.jpg' %} ;"
                                            class="img-fluid project-img w-100">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 col-6">
                                    <a href=" {% static 'ReastApi/images/owp-freelance-img-012.jpg' %} ">
                                        <div style="background-image: {% static 'ReastApi/images/owp-freelance-img-012.jpg' %} ;"
                                            class="img-fluid project-img w-100">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 col-6 mt-md-0 mt-4">
                                    <a href="{% static 'ReastApi/images/owp-freelance-img-013-768x580.jpg' %}">
                                        <div style="background-image: {% static 'ReastApi/images/owp-freelance-img-013-768x580.jpg' %} ;"
                                            class="img-fluid project-img w-100">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 col-6 mt-md-0 mt-4">
                                    <a href=" {% static 'ReastApi/images/owp-freelance-img-014.jpg' %} ">
                                        <div style="background-image: {% static 'ReastApi/images/owp-freelance-img-014.jpg' %} ;"
                                            class="img-fluid project-img w-100">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <section class="mb-5 mt-5" id="blogs">
                <div class="row justify-content-center align-items-center text-center">
                    <div class="col-12">
                        <div class="title">
                            <p class="h3 fw-bold" data-aos="fade-up" data-aos-duration="1000">عنوان <span
                                    class="text-primary fs-2">تست</span>. </p>
                            <p class="mt-4 mb-5 fs-5" data-aos="fade-up" data-aos-duration="2000">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                            </p>
                        </div>
                        <div class="items" data-aos="fade-up" data-aos-duration="3000">
                            <div class="row justify-content-center owl-carousel">
                                <div class="col-md-3 mb-3">
                                    <div class="card border-0 shadow">
                                        <div class="card-image">
                                            <div style="background-image: {% static 'ReastApi/images/news-01-1024x683.jpg' %} ;"
                                                class="project-img img-fluid round-bx-0">
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="h6 card-title fw-bold  mt-2">تست 1</p>
                                            <p class="card-subtitle blockquote-footer mt-3">ابوالفضل عابدینی</p>
                                            <p class="card-text mt-3">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                                از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card border-0 shadow">
                                        <div class="card-image">
                                            <div style="background-image: {% static 'ReastApi/images/news02-1024x683.jpg' %} ;"
                                                class="project-img img-fluid round-bx-0">
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="h6 card-title fw-bold mt-2">تست 2</p>
                                            <p class="card-subtitle blockquote-footer mt-3">ابوالفضل عابدینی</p>
                                            <p class="card-text mt-3">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                                از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card border-0 shadow">
                                        <div class="card-image">
                                            <div style="background-image: {% static 'ReastApi/images/news03-1024x683.jpg' %} ;"
                                                class="project-img img-fluid round-bx-0">
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="h6 card-title fw-bold mt-2">تست 3</p>
                                            <p class="card-subtitle blockquote-footer mt-3">ابوالفضل عابدینی</p>
                                            <p class="card-text mt-3">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                                از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
        </section>
    </article>
    <footer class="mt-5 mb-5">
        <section id="footer" class="container shadow">
            <div class="row align-items-center py-5">
                <div class="col-md-4 px-md-5 px-3">
                    <div class="description">
                        <img src=" {% static 'ReastApi/images/owp-designer-logo-x2.webp' %} " alt="logo" class="img-fluid">
                        <p class="mt-4 mb-4">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="h5 fw-bold">ایمیل:</p>
                            <p class="mt-1">info@example.com</p>
                        </div>
                        <div class="col-6">
                            <p class="h5 fw-bold">شماره:</p>
                            <p class="mt-1">+1 234 560 78 90</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mt-md-0 mt-3 px-3">
                    <div class="row">
                        <div class="col-md-4 col-6">
                            <ul class="list-group p-md-2 p-0">
                                <p class="h5 fw-bold">لینک های مفید</p>
                                <li class="list-group-item p-0 border-0"><span>خانه</span></li>
                                <li class="list-group-item p-0 border-0"><span>درباره</span></li>
                                <li class="list-group-item p-0 border-0"><span>خدمات</span></li>
                                <li class="list-group-item p-0 border-0"><span>پروژه ها</span></li>
                                <li class="list-group-item p-0 border-0"><span>وبلاگ</span></li>
                            </ul>
                        </div>
                        <div class="col-md-4 d-md-inline-block d-none">
                            <ul class="list-group p-md-2 p-0">
                                <p class="h5 fw-bold">پست های اخیر</p>
                                <li class="list-group-item p-0 border-0"><span>لینک 1</span></li>
                                <li class="list-group-item p-0 border-0"><span>لینک 2</span></li>
                                <li class="list-group-item p-0 border-0"><span>لینک 3</span></li>
                                <li class="list-group-item p-0 border-0"><span>لینک 4</span></li>
                                <li class="list-group-item p-0 border-0"><span>لینک 5</span></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-6">
                            <ul class="list-group p-md-2 p-0">
                                <p class="h5 fw-bold">شبکات اجتماعی</p>
                                <li class="list-group-item p-0 border-0"><span>فیسبوک</span></li>
                                <li class="list-group-item p-0 border-0"><span>توییتر</span></li>
                                <li class="list-group-item p-0 border-0"><span>گیت هاب</span></li>
                                <li class="list-group-item p-0 border-0"><span>پینترست</span></li>
                                <li class="list-group-item p-0 border-0"><span>اینستاگرام</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src=" {% static 'ReastApi/js/owl.carousel.min.js' %}"></script>
    <script src=" {% static 'ReastApi/js/simple-lightbox.min.js' %}"></script>
    <script src=" {% static 'ReastApi/js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@uvarov.frontend/vanilla-calendar/build/vanilla-calendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script>
        var getNavbar = document.getElementById('page-navbar');

        window.addEventListener('scroll', function () {
            if (window.scrollY === 0) {
                getNavbar.classList.remove('shadow')
            }
            else {
                getNavbar.classList.add('shadow')
            }
        })

    </script>

{% endblock %}

</html>