@font-face {
    font-family: IRANSans;
    src: url('../IRANSans/fonts/woff/IRANSansWeb\(FaNum\).woff') format('woff');
}


* {
    transition: 0.3s all;
    font-family: IRANSans;
    font-family: 16px;
    font-style: normal;
    text-decoration: none !important;
    box-sizing: border-box;
    line-height: 30px;
}

*::selection {
    background-color: #212121;
    color: #FFFF;
}

body::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #464646;
    border-radius: 6px;
}

body {
    direction: rtl;
}

.navbar {
    z-index: 999;
}

/* for all card texts */
.card-text {
    word-break: break-all;
}

/* icons */
.power-img {
    width: 45px;
    height: 45px;
}

/* first card animations */
.first-card-animate {
    animation: up 2s linear alternate;
}

.first-card-img {
    animation: updown 2s ease-in alternate infinite;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes updown {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(20px);
    }
}


#banner {
    background-image: url('/public/images/pxfuel.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-radius: 10px;
}

.banner-row {
    height: 500px;
}

.carousel-item :where(.card) {
    background-color: transparent !important;
    color: white !important;
    line-height: 30px !important;
}

.card-body :where(.icon) {
    width: 60px;
    height: 60px;
    background-color: #001ef21a;
    color: #001FE2;
    font-size: 24px;
    border-radius: 50%;
}

.service-card:hover {
    transform: scale(1.1);
    background-color: aliceblue;
}

#supporsters {
    background-color: #001ef21a;
}

.supporter-row {
    height: 200px;
}

.do-card:hover {
    transform: scale(1.05);
    background-color: white;
    box-shadow: -12px 15px 20px 0px #5E457E26;
}

.project-img {
    height: 300px !important;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 10px;
}

.owl-nav {
    font-size: 23px;
    display: flex;
    position: absolute !important;
    right: 5px !important;
    top: -40px !important;
}

.round-bx-0 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.owl-next {
    margin-right: 20px;
}

.owl-carousel :where(.card) {
    width: 400px;
}

.sl-prev {
    font-size: 16px !important;
}

.list-group-item {
    background-color: transparent !important;
    margin-top: 20px;
    font-size: 14px;
}

.list-group-item span:hover {
    width: auto !important;
    padding-bottom: 6px;
    border-bottom: 2px solid black !important;
}

#footer {
    position: relative;
    border-radius: 10px !important;
}


/* login page */

.form-control,
form button {
    height: 44px;
}

#signin-a {
    color: #ffffff !important;
}

#signup-a {
    color: #212121 !important;
}

.btn-outline-dark:hover #signup-a {
    color: #ffffff !important;
}

.image-label {
    position: absolute;
    margin-top: 40px;
}

#upload-button {
    width: 70px;
    height: 70px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color ease-out 120ms;
    background-color: transparent !important;
    margin-top: 20px;
    background-image: url("/public/images/galleryBig.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#upload-button2 {
    background-color: transparent !important;
    width: 65px;
    height: 65px;
    border: 0px;
    cursor: pointer;
    transition: background-color ease-out 120ms;
    margin-left: 47px;
}

.upload-text {
    cursor: pointer;
    font-size: 12px;
    color: #757575;
    margin-top: 30px;
}

.upload-text p {
    display: block;
    font-style: normal;
    padding-bottom: 12px;
    font-size: 12px;
    color: #757575;
}

.upload-text span {
    display: block;
    font-style: normal;
    padding-bottom: 12px;
    font-size: 12px;
    color: #757575;
}

.image-uploader .uploaded .uploaded-image img {
    margin-top: 40px;
    width: 200px;
    height: 150px;
    border-radius: 8px;
}

.image-uploader .uploaded .uploaded-image .delete-image {
    display: none;
}

/* Hide the text if there is at least one uploaded image */
.image-uploader.has-files .upload-text {
    display: none;
}

#image {
    display: none;
}

.first-texts {
    font-size: 12px;
    vertical-align: middle;
}

.form-floating :where(.form-label) {
    font-size: 14px;
}

.form-floating :where(.btn) {
    right: 11px;
    top: 17%;
}

.twitter:hover {
    border-color: #6EC1E4;
    color: #6EC1E4;
    transform: scale(1.02);
    box-shadow: -12px 15px 20px 0px #5E457E26;
}

.facebook:hover {
    border-color: #6f42c1;
    color: #6f42c1;
    transform: scale(1.02);
    box-shadow: -12px 15px 20px 0px #5E457E26;
}

.instagram:hover {
    border-color: #d63384;
    color: #d63384;
    transform: scale(1.02);
    box-shadow: -12px 15px 20px 0px #5E457E26;
}

.pinterest:hover {
    border-color: #dc3545;
    color: #dc3545;
    transform: scale(1.02);
    box-shadow: -12px 15px 20px 0px #5E457E26;
}

.recent-image {
    width: 76px;
    height: 76px;
    background-image: url("/public/images/news-01-1024x683.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-10-sub {
    font-size: 10px;
}

#blog {
    margin-top: 150px;
}

.detail-info {
    font-size: 13px;
    color: #757575;
    vertical-align: middle;
}

.detail-info span {
    vertical-align: middle;
}

.detail-info i {
    vertical-align: middle;
    font-size: 14px;
    color: #464646;
}

.detail-image {
    height: 500px;
    background-image: url("/public/images/news-01-1024x683.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.detail-body-text {
    font-size: 14px;
    color: #464646;
    line-height: 30px;
}

.interested :where(.card),
.follow-us :where(.card) {
    cursor: pointer;
}

.like-img {
    height: 200px;
    background-image: url("/public/images/news03-1024x683.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.people-like .card-text {
    font-size: 12px;
    color: #757575;
}

.vanilla-calendar,
.vanilla-calendar-day__btn {
    background-color: transparent !important;
}

.btn-dark:hover {
    background-color: #212529 !important;
}

@media screen and (max-width: 900px) {

    .detail-image {
        height: 300px;
    }

    .owl-carousel :where(.card) {
        width: 96%;
    }

    .list-group .h5 {
        font-size: 18px !important;
    }

    .login-row {
        height: 95vh;
    }

}